.ant-carousel .slick-slide {
  text-align: center;
  height: 299px;
  line-height: 160px;
  overflow: hidden;
}
.ant-layout-sider {
  background-color: white;
}
.ant-layout-header {
  background-color: white;
}
.carousel-skin img {
  width: 100%;
  border-radius: 0;
}
.champion-icon {
  margin-right: 10px;
}
.ant-card {
  margin: 20px;
}

.champion-name {
  font-size: 30px;
}
